.heading {
  color: black;
  text-decoration: none;
  outline: none;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

.right-section {
  width: 35rem;
}

img:hover {
  -webkit-filter: brightness(70%);
}
.image-overflow {
  overflow: hidden;
  margin: 0;
}

img {
  width: 26rem;
  height: 15rem;
  opacity: 1;

}
